# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
.next/
out/

# Environment files
.env
apps/api/.env
apps/web/.env

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Docs
docs/infra

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
